<div class="container down">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "whats.png", width:"100%" %>
    </div>
    <div class="col-md-6 ">
                <h1 class="text"> <center> Create new article </center> <h1>
                <%= render 'form'  %>
    </div>    
    <div class="col-md-3">
        <%= image_tag "once.png", width:"110%" %>
    </div>
  </div>
</div>

