<h1><%= @article.title%></h1>
<p><%= @article.description %></p>

<%= link_to "все посты", articles_path %>
<%= link_to "убрать с глаз долой", article_path(@article), method: :delete, data: {confirm: "А может нинада?"} %>
